body{
    font-size: 20px;
    background-color: rgb(61, 100, 100);
    color: aliceblue;
    font-family: Roboto;
    overflow-x: hidden;
}
:root::-webkit-scrollbar{
  display: none;
}
h1{
    text-align: center;
}
textarea{
    background: rgb(40, 66, 66);
    font-size: 1.5rem;
    color: #fff;
    width: 95vw;
    height: 30rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: aliceblue;
    text-decoration: underline;
}
img{
    width: 100%;
}
@media screen and (max-width: 992px) {
    *{
      font-size: 17px;
    }
    h1{
      font-size: 1.9rem;
      font-weight: 600;
    }
  }
  
  @media screen and (max-width: 400px) {
    *{
      font-size: 13px;;
    }
    h1{
      font-size: 1.7rem;
      font-weight: 600;
    }
    
  }